<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ubus.BackEnd.Properties.Settings.UBusConnectionString"
            connectionString="Data Source=WATERDEEP\SQLEXPRESS;Initial Catalog=UBus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>